<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>210115427221-8cms981ia122elmf7m36bhhp6ouc01id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210115427221-8cms981ia122elmf7m36bhhp6ouc01id</string>
	<key>API_KEY</key>
	<string>AIzaSyCpyyaEGLsUcwQolz3CAuuPMnohudk7Thk</string>
	<key>GCM_SENDER_ID</key>
	<string>210115427221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RKIV.Scoutable</string>
	<key>PROJECT_ID</key>
	<string>scoutable-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>scoutable-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210115427221:ios:aeb7cfc1bb54fa63</string>
	<key>DATABASE_URL</key>
	<string>https://scoutable-2018.firebaseio.com</string>
</dict>
</plist>